<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d1788afb-2254-4f5f-8826-94750f6da544/resourceGroups/AZ-JHB-RSG-VCGPSD-ST10090420-TER/providers/Microsoft.Web/sites/FARMCENTRALPROTOTYPE20230525090811</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPSD-ST10090420-TER</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://farmcentralprototype20230525090811.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>15206b22-d62f-4111-ae78-03dfd46c4ad9</ProjectGuid>
    <MSDeployServiceURL>farmcentralprototype20230525090811.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FARMCENTRALPROTOTYPE20230525090811</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$FARMCENTRALPROTOTYPE20230525090811</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>